    <footer id="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="social-networks">
                        <a href="https://twitter.com/StreamFluence" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.facebook.com/streamfluence/?ref=br_rs" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.linkedin.com/company/streamfluence" target="_blank" class="google"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
                <p class="text-center">© 2017 StreamFluence </p>
        </div>
    </footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
<script src="/js/basic.js"></script>
  </body>
</html>
