<!DOCTYPE html>
<html lang="en">
  <head>
    <title>StreamFluence</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Twitch Marketing and sponsorship">
    <meta name="keywords" content="Stream, Twitch, Marketing, Influencer Marketing, sponsorship, sponsors, 
    live stream">
    <meta name="author" content="StreamFluence">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato|Raleway|Roboto" rel="stylesheet">
 <link rel="stylesheet" href="/css/main.css">
 <script src="https://use.fontawesome.com/380ac6a2bf.js"></script>
  </head>

  <body>
