<% include partials/header.ejs %>
    <nav class="navbar navbar-expand-lg header my-nav py-4">
          <a class="text-dark navbar-brand" href="#">Logo Goes Here</a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
    </nav>

<div class="row top-section">
      <div class="col-sm-12 col-md-12 left-side background ">
          <div class="overlay">
        <div class="container">
            <div class="embed-responsive embed-responsive-16by9 video-section">
              <iframe class="embed-responsive-item" width="460" height="315" src="https://www.youtube.com/embed/Q0sSmlw8_nI" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
          <h3 class="text-center text-light mt-5 email-call">We're changing the way streamers find sponsors.<br /><strong>Stay in the know.</strong> </h3>
          <form>
      <div class="form-group email-form">
        <input type="email" class="form-control" placeholder="Enter Your Email Address">
              <button class="btn btn-lg btn-outline-light mt-3 call-button-1">Submit</button>
      </div>
    </form>
    </div>
</div>
</div>

<div class="slant-left above">
                    <div id="bg"></div>
                    <div id='wrapper'>
                        <div id="top">
                            <h1 class="display-5 text-center mt-5 three-section-title" style="color: #003D87">Let's Make Streaming Your Career</h1>
                        </div>
                        <div id="center" class="container">
                          <div class="row">
                              <div class="col-md-4">
                                  <div class="section-border">

                                  <i class="fa fa-money fa-5x" aria-hidden="true" style="color: #003D87"></i>
                                  <h3 class="three-section-header">Quit Your Day Job</h3>

                                  <p class="section-para">
                                      You love streaming. Why not go full time? We'll make it easy to <strong>monetize</strong> your channel.
                                  </p>
                                </div>
                              </div>
                              <div class="col-md-4">
                                  <div class="section-border">
                                  <i class="fa fa-check-square-o fa-5x" aria-hidden="true" style="color: #003D87"></i>
                                  <h3 class="three-section-header"> Put An End To #sellout</h3>
                                  <p class="section-para">
                                    Select from a variety of sponsors, allowing you to keep your content <strong>authentic.</strong>
                                  </p>
                                </div>
                              </div>


                                <div class="col-md-4">
                                    <div class="section-border">
                                    <i class="fa fa-headphones fa-5x" aria-hidden="true" style="color: #003D87"></i>
                                    <h3 class="three-section-header">Always Free for Streamers</h3>
                                    <p class="section-para">
                                     We put streamers first.  No hidden fees. No day 1 DLC. None of that <strong>Bullsh*t.</strong>
                                    </p>
                                  </div>
                                </div>

                        </div>
                        <div id="bottom">
                            <img src="/wp-content/themes/bridge/frontend_framework/img/final3dcards2.png" class="img-responsive" id='cards' /></div>
                    </div>
                  </div>
                </div>

                <div class="container-fluid call-section">
                <div class="row">
                    <div class="col-sm-12 call-to-action">
                      <h2 class="call-header">Come Talk to our Devs</h2>
                      <button class="btn btn-lg btn-outline-light mt-3 call- button">Join our Discord</button>
                    </div>
                </div>
            </div>

<% include partials/footer.ejs %>
