<% include partials/header.ejs %>
    <nav class="navbar navbar-expand-lg header bg-secondary py-4">
          <a class="navbar-brand" href="#">Logo Goes Here</a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
    </nav>

    <div class="row">
      <div class="col-md-9 left-side">
        <div class="background">
        <div class="container main-section">
          <div class="row">
            <div class="embed-responsive embed-responsive-16by9 video-section">
              <iframe class="embed-responsive-item" width="460" height="315" src="https://www.youtube.com/embed/Q0sSmlw8_nI" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
          <form>
      <div class="form-group">
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email Address">
      </div>
    </form>
      </div>
    </div>
      </div>

      <div class="col-md-3 twitter">
          <h3 class="text-center twitter-title">Twitter Feed</h3>
          <ul class="list-group twitter-feed">
                     <% tweets.forEach(function(tweet) { %>
                         <li class="list-group-item twitter-name">
                           <img class="twitter-profile-pic" src=<%= tweet.user.profile_image_url %> />
                             <%= tweet.user.screen_name %>
                             <br />
                            <span class="twitter-user-name">@ <%= tweet.user.screen_name %></span>
                            <br />
                            <p><%= tweet.text %></p>

                         </li>
                         <!-- tweets[0].text,
                             user: tweets[0].user.screen_name,
                             image: tweets[0].user.profile_image_url,
                            followers: tweets[0].user.followers_count -->

                       <% }); %>
                    </ul>
      </div>
</div>

  <div class="container-fluid">
  <div class="row">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="http://via.placeholder.com/140x100" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="http://via.placeholder.com/140x100" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>

        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="http://via.placeholder.com/140x100" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<% include partials/footer.ejs %>
