.bg-secondary {
    background-color: #0066aa !important;
}

.header a {
  color: white;
}

.background {
  background-image: url('../img/twitch-image-2.jpeg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}


.twitter {
  overflow: scroll;
  max-height: 789px;
}

.list-group-item {
  background-color: white;
}

.list-group-item:first-child {
  border-top: none;
  margin-top: -8px;
}
.twitter-title {
  font-family: "Lato";
  background-color: #5d3c9a;
  padding: 15px;
  color: white;

}

.twitter-feed {
  margin-right: 15px;
  width: 100%;
}

.twitter-name {
  position: relative;
    font-size: 15px;
}

.twitter-profile-pic {
  height: 30px;
  width: 30px;
}

.twitter-user-name {
  position: absolute;
left: 54px;
top: 33px;
font-size: 12px;
}

.video-section {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 150px;
}

.form-group {
    width: 45%;
    margin: 0 auto;
    margin-top: 50px;
    padding-bottom: 45px;

}

.three-section {
    margin-bottom: 100px;
    background-color: purple;
}

.container-fluid { max-width: 1200px; }

card {
	background: #fff;
	box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
	img {
		width: 100%;
	}

[class*="row"] {
	margin-bottom: 1em;
  justify-content: center;
}

.footer-section {
  margin-top: 40px;
}

.social {
      margin: 0 auto;
}
