html, body {
  height: 100%;
}
.header a {
  color: white;
}

.top-section {
  height: 1080px;
}

.background {
background-image: url('../img/twitch-image-1.jpg');*/
border: 1px solid #979797;
  background-position: center;
  background-size: cover;
  height: 1500px;
  background-attachment: fixed;
}

.email-call {
  width: 65%;
  margin: 0 auto;
  font-size: 20px;
  margin-bottom: -20px;
}

.twitter {
  overflow: scroll;
  height: 950px;
}

.list-group-item {
  background-color: white;
}

.list-group-item:first-child {
  border-top: none;
  margin-top: -8px;
}

.list-group-item:last-child {
    border-bottom: 1px solid black;
}

.twitter-title {
  font-family: "Lato";
  background-color: #0085b6;
  padding: 15px;
  color: white;
    margin-left: -15px;
}

.twitter-feed-pic {
  display: inline-block;
  margin: 0 auto;
  height: 105px;
  width: 105px;
}

.followers {
    font-size: 16px;
}

.followers-number {
  font-size: 13px;
}

.twitter-feed {
  width: 100%;
    margin-left: -15px;
}

.twitter-name {
    font-size: 15px;
}

.twitter-profile-pic {
  height: 30px;
  width: 30px;
}

.twitter-user-name {
  position: absolute;
left: 54px;
top: 33px;
font-size: 12px;
}

.video-section {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 150px;
}

.form-group {
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    padding-bottom: 45px;
}

.slant-left.above {
     position: relative;
     color: #1d1d24;
     margin-top: -50px;
 }

 div#bg {
 width: 100%;
 height: 750px;
 position: absolute;
 background-color: #fff;
 transform: skewY(-12deg);
 transform-origin: 0;
}

div#wrapper {
  position: relative;
  z-index: 1000;
  color: #1d1d24;
}

  .section-border {
    box-shadow: 8px 8px 5px #888888;
    margin-top: 20px;
  min-height: 230px;
      border-radius: 3px;
  }

  .sec-top {
    display: flex;
    align-items: center;
    margin-bottom: -1em;
    padding: 20px;
    margin-left: 15px;
  }

  .section-line {
    width: 60%;
    border: 2px solid #1EB39A;
  }

  .section-title-line {
    width: 30%;
    border: 1px solid #343434;
  }

  .section-para {
    margin-top: 5px;
    width: 85%;
    text-align: center;
    margin: 0 auto;
      font-family: montserrat, sans-serif;
      padding-bottom: 10px;

  }

  .three-section-header {
    font-size: 25px;
    font-family: montserrat, sans-serif;
    margin-left: 15px;
    line-height: 1.2;
    font-weight: bold;
  }

.call-section {
  margin-top: 150px;
  transform: skewY(0deg);
  transform-origin: 0;
  background-image: url('../img/gaming2.png');
  background-position: center;
  background-size: cover;
  height: 250px;
  text-align: center;
  font-family: montserrat, sans-serif;
  margin-bottom: -49px;
}

.call-to-action {
  background-color: rgba(0,0,0,0.5);
  width: 1413px;
  height: 250px;
}

.call-header {
  color: white;
  margin-top: 5%;
}

.call-button {
}

.footer-section {
  background: inherit;
  margin-top: 40px;
}

.social {
      margin: 0 auto;
}

@media (max-width: 575px) {
  .twitter {
    display: none;
  }

  .background {
    height: 700px;
}

.call-section {
  margin-top: 10px;
  height: 200px;
}

  .slant-left.above {
    margin-top: -450px;
  }
 }
