html, body {
  height: 100vh;
}
.header a {
  color: white;
}

.top-section {
  height: 1080px;
}

.background {
background-image: url('../img/twitch-image-1.jpg');*/
border: 1px solid #979797;
  background-position: center;
  background-size: cover;
  height: 1500px;
  background-attachment: fixed;
}

.email-call {
  width: 65%;
  margin: 0 auto;
  font-size: 20px;
  margin-bottom: -20px;
}

.twitter {
  overflow: scroll;
  height: 950px;
}

.list-group-item {
  background-color: white;
}

.list-group-item:first-child {
  border-top: none;
  margin-top: -8px;
}

.list-group-item:last-child {
    border-bottom: 1px solid black;
}

.twitter-title {
  font-family: "Lato";
  background-color: #0085b6;
  padding: 15px;
  color: white;
    margin-left: -15px;
}

.twitter-feed-pic {
  display: inline-block;
  margin: 0 auto;
  height: 105px;
  width: 105px;
}

.followers {
    font-size: 16px;
}

.followers-number {
  font-size: 13px;
}

.twitter-feed {
  width: 100%;
    margin-left: -15px;
}

.twitter-name {
    font-size: 15px;
}

.twitter-profile-pic {
  height: 30px;
  width: 30px;
}

.twitter-user-name {
  position: absolute;
left: 54px;
top: 33px;
font-size: 12px;
}

.video-section {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 150px;
}

.form-group {
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    padding-bottom: 45px;
}

.slant-left.above {
     position: relative;
     color: #1d1d24;
     margin-top: -50px;
 }

 div#bg {
 width: 100%;
 height: 720px;
 position: absolute;
 background-color: #fff;
 transform: skewY(-12deg);
 transform-origin: 0;
}

div#wrapper {
  position: relative;
  z-index: 1000;
  color: #1d1d24;
}

  .section-border {
    box-shadow: 8px 8px 5px #888888;
    margin-top: 20px;
  min-height: 230px;
      border-radius: 3px;
  }

  .sec-top {
    display: flex;
    align-items: center;
    margin-bottom: -1em;
    padding: 20px;
    margin-left: 15px;
  }

  .section-line {
    width: 60%;
    border: 2px solid #1EB39A;
  }

  .section-title-line {
    width: 30%;
    border: 1px solid #343434;
  }

  .section-para {
    margin-top: 5px;
    width: 85%;
    text-align: center;
    margin: 0 auto;
      font-family: montserrat, sans-serif;
      padding-bottom: 10px;

  }

  .three-section-header {
    font-size: 25px;
    font-family: montserrat, sans-serif;
    margin-left: 15px;
    line-height: 1.2;
    font-weight: bold;
  }

.call-section {
  margin-top: 150px;
  transform: skewY(0deg);
  transform-origin: 0;
  background-image: url('../img/gaming2.png');
  background-position: center;
  background-size: cover;
  height: 250px;
  text-align: center;
  font-family: montserrat, sans-serif;
margin-bottom: -200px;
}

.call-to-action {
  background-color: rgba(0,0,0,0.5);
  width: 1413px;
  height: 250px;
}

.call-header {
  color: white;
  margin-top: 5%;
}

.call-button {
}




#myFooter {
    background-color: #3c3d41;
    color: white;
    padding-top: 30px;
}

#myFooter .footer-copyright {
    background-color: #333333;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .row {
    margin-bottom: 60px;
}

#myFooter .navbar-brand {
    margin-top: 45px;
    height: 65px;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: #ccc;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter h2 a{
    font-size: 50px;
    text-align: center;
    color: #fff;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}

#myFooter .social-networks a {
    font-size: 32px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

.footer-logo {
  width: 150px;
  height: 150px;
}

#myFooter .social-networks a:hover {
    text-decoration: none;
}

#myFooter .facebook:hover {
    color: #0077e2;
}

#myFooter .google:hover {
    color: #0073B0;
}

#myFooter .twitter:hover {
    color: #00aced;
}

#myFooter .btn {
    color: white;
    background-color: #0085b6;
    display: inline-block;
    margin-top: 15px;
}

.footer-form {
  margin-top: -15px;
  width: 300px;
  text-align: center;
}
#footer-email {
  display: inline-block;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
}
/* CSS used for positioning the footers at the bottom of the page. */
/* You can remove this. */

.content{
   flex: 1 0 auto;
   -webkit-flex: 1 0 auto;
   min-height: 200px;
}

#myFooter{
   flex: 0 0 auto;
   -webkit-flex: 0 0 auto;
}

@media (max-width: 575px) {
  .twitter {
    display: none;
  }

  .background {
    height: 700px;
}

.call-section {
  margin-top: 10px;
  height: 200px;
}

  .slant-left.above {
    margin-top: -450px;
  }
 }
